node_modules/
.env
.wrangler/tmp
.jj
.git
.devenv/
.direnv/
.DS_Store

# Local source presentations are compiled and uploaded to object storage.
templates/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*

# web
apps/web/node_modules
apps/web/out
apps/web/dist
apps/web/*.tgz
apps/web/.wrangler
apps/web/.vercel
apps/web/logs
apps/web/_.log
apps/web/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
apps/web/.eslintcache
apps/web/.cache
apps/web/*.tsbuildinfo
apps/web/.DS_Store
